@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --border-radius: 20px;
    --padding-input: 11px 24px;
    --padding-button: 11px 54px;
    --border-radius-input: 10px;


    --button-color: #3D3BFF;

    --opacity-hover: 0.7;
}

body {
    font-family: Roboto;
    font-weight: 400;
    padding: 40px 30px 80px;
}

.container {
    margin: 0 auto;
    max-width: 1168px;
}

.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(4px, 0.55vw,8px);
    border: none;
    background-color: inherit;
    cursor: pointer;
    border-radius: 50%;
    background-color: #f1f1f1;
    height: clamp(40px, 5.55vw,80px);
    width: clamp(40px, 5.55vw,80px);
}

.burger:hover {
    opacity: var(--opacity-hover);
}

.burger:active {
    opacity: 0.5;
}

.burger span {
    display: block;
    width: clamp(20px, 3.47vw, 50px);
    height: clamp(1.5px, 0.27vw, 4px);
    background-color: black;
    border-radius: 4px;
}

.title h1 {
    font-size: min(4.16vw, 60px);
    font-style: normal;
    font-weight: 600;
    margin-top: clamp( 50px, 6.94vw, 100px);
}

.img-main img {
    max-width: 100%; /*Благодаря max-width 100%  изображение становится адаптивным*/
    margin-top: clamp(40px, 5.55vw, 80px);
    margin-bottom: clamp( 30px, 4.16vw ,60px);
}

.subtitle {
    display: flex;
    justify-content: space-between;
}

.subtitle p {
    max-width: 45%;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    font-size: clamp(16px, 1.52vw, 22px);
}

.form {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 37px 50px;
    border-radius: 20px;
    margin-top: clamp(40px, 5.55vw, 80px);
}

.field {
    display: flex;
    flex-direction: column;
    width: clamp(300px, 28.8vw, 416px);
    gap: 8px;
}

.form > h2 {
    font-size: clamp(20px, 3.1vw, 46px);
    max-width: 45%;
}

.form-field {
    width: 100%;
    padding: var(--padding-input);
    border: none;
    border-radius: var(--border-radius-input);
}

.form-field:hover,
.form-field:focus-visible {
    opacity: var(--opacity-hover);
}





.field-wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(18px , 1.6vw, 24px);
}

.form-button {
    display: inline-flex;
    align-items: flex-start;
    background-color: var(--button-color);
    border: none;
    padding: var(--padding-button);
    border-radius: var(--border-radius-input);
    color: #fff;
    max-width: 180px;
    cursor: pointer;
}

.form-button:hover {
    opacity: var(--opacity-hover);
}

.form-button:active {
    opacity: 0.5;
}




@media (max-width: 950px) {

    .form{
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .form h2 {
        text-align: center;
        max-width: 600px;
    }

    .field {
        width: 450px;
    }
}
